html
	head
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css')

		link(rel='stylesheet', href='/assets/css/font-awesome.css')
		link(rel='stylesheet', href='/assets/css/application.css')
	body
		div#header
			block header
				include ../shared/header
		div#content
			block content
		div#footer
			block footer
