link(rel='stylesheet', href='assets/css/header.css')

div.container.brand
	div.col-sm-6.col-xs-12
		div.navbar-header.brand-header
			table
				tr
					td
						img.logo(src='assets/images/brand_logo.png')
					td
						div.brand-header-name Passion bakery
						div.brand-header-slogan Fresh for life
	div.col-sm-6.col-xs-12
		div.brand-info
			table
				tr
					td
						span.fa.fa-phone
					td
						div Mrs. Hieu Ngo
						div 0914 005 977
					td
						span.fa.fa-map-marker
					td
						div Address
						div 51/9 Truong Chi Cuong
						div Da Nang

div#stuck_container.stuck-container
	div.container
		nav
			ul.nav.navbar-nav.navbar-left(data-type='navbar')
				li.active
					a(href='./') Home
				li
					a(href='index-1.html') About us
				li
					a(href='index-2.html') Products
				li.dropdown
					a.sf-with-ul(href='index-3.html') Recipe Corner
					ul.dropdown-menu(style='display: none;')
						li
							a(href='#')  Levain Walnut Baguette
						li
							a(href='#')  Pizza Round
						li
							a.sf-with-ul(href='#')  Sourdough Bragel
							ul.dropdown-menu(style='display: none;')
								li
									a(href='#') Description
								li
									a(href='#') Ingredients
								li
									a(href='#') Details
						li
							a(href='#')  Cranberry Orange Scone
						li
							a(href='#')  Cinnamon Rolls
				li
					a(href='index-4.html') News & Events
				li
					a(href='index-5.html') Contact Us
