extends ./layout/application
include ./template/pinned_product
include ./template/carousel_item

block content
	link(rel='stylesheet', href='/assets/css/index.css')

	#myCarousel.carousel.slide(data-ride='carousel')
		//-- Indicators
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			li(data-target='#myCarousel', data-slide-to='1')
			li(data-target='#myCarousel', data-slide-to='2')
		//-- Wrapper for slides
		.carousel-inner
			each ii in [0, 1, 2]
				+carousel_item({'title': carousel[ii], 'src': ii, 'active': ii==0})
		//-- Left and right controls
		a.left.carousel-control(href='#myCarousel', data-slide='prev')
			span.glyphicon.glyphicon-chevron-left
			span.sr-only Previous
		a.right.carousel-control(href='#myCarousel', data-slide='next')
			span.glyphicon.glyphicon-chevron-right
			span.sr-only Next

	div.container
		div.row.pin-products
			each ii in [0, 1, 2, 3, 4, 5]
				+pinned_product({'src': ii, 'title': pinned_products[ii]})

	div.section
		div.container
			div.row.chef_info
				div.col-xs-4
					img(src='/assets/images/chef_photo.jpg')
				div.col-xs-8
					div.title #{chefInfo.title}
					div.content #{chefInfo.content}

	div.section
		div.container
			div.row.social
				div.col-xs-12
					div.content #{social.content}
					a.link(href='https://www.facebook.com/Passion-Bakery-1423480781278892/')
						div
							img(src='/assets/images/social/facebook.png')






