html, body{
	position: relative;
	width: 100%;
}

body{
	background-image: url('/assets/images/background.png');
	background-repeat: repeat;

	// transition: all 0.5s linear;
	// -webkit-transition: all 0.5s linear;
	// -o-transition: all 0.5s linear;
	// -moz-transition: all 0.5s linear;
}

div.container{
	
}

div#header{
}

div#content{

}

div#footer{

}