@import 'variables';

.brand{
	padding: 20px 0px;

	table{
			display: inline-block;
	}

	.brand-header{
		text-align: center;
		img.logo{
			max-width: 80px;
		}
		.brand-header-name{
			padding-left: 10px;
			display: inline-block;
			font-size: 40px;
			color: $accent_text_color;
			font-weight: 900;
			font-family: 'Pacifico', cursive;
		}
		.brand-header-slogan{
			font-size: 16px;
			padding-left: 20px;
			margin-top: -10px;
			color: $accent_text_color_light;
			font-weight: 100;
			font-family: 'Comfortaa', cursive;
		}
	}

	.brand-info{
		@media screen and (min-width: 768px){
			float:right;
		}
		margin-top: 20px;
		text-align: center;
		td{
			color: $accent_text_color_light;
		}
		td:nth-child(2){
			padding-right: 30px;
			border-right: 1px solid;
			border-color: $accent_text_color_light;
		}

		span.fa{
			font-size: 30px;
			padding: 10px;
			margin-left: 20px;

		}
		div{
			font-family: 'Lora', serif;
			white-space: pre;
		}
	}
}

.stuck-container{
	background-color: $menu_background_color;
	.navbar-default{
		border: none;
	    background: transparent;
	    box-shadow: none;
	    margin: 0px;
	}
	.navbar-brand{
		font-size: 20px;
		color: $accent_text_color;
		font-weight: 900;
		font-family: 'Pacifico', cursive;
	}
	.nav.navbar-nav{
		background: $menu_background_color;
		li {
			a {
				color: #ffffff;
				padding: 22px 20px 19px 19px;
				font-size: 16px;
				font-weight: 900;
				font-family: 'Lora', serif;
				text-transform: uppercase;
				transition:	0.2s;
			}
			a:hover{
				background: $menu_active_background_color !important;
			}
		}
		li.active > a,li.open > a{
			background: $menu_active_background_color !important;
		}
	}
	.nav.navbar-nav{
		.dropdown-language{
			background-color: $menu_background_color;
			a{
				
				color: black;
				span{
					padding-left: 20px;
				}
				img{
					max-height: 20px;
				}
			}
			a.select{
				padding-left: 50px;
				color: $menu_item_color !important;
				background-color: $menu_background_color;
			}
			a:hover{
				color: $menu_item_color;
			}
		}
	}
}