//--import fonts
@import url(https://fonts.googleapis.com/css?family=Comfortaa|Pacifico|Rasa|Montserrat);

$accent_text_color: rgb(71, 56, 22);
$accent_text_color_light: rgb(136, 110, 54);

$menu_background_color: #e7931a;
$menu_active_background_color: #be1e2d;
$menu_text_color: white;

$menu_item_background_color: #473816;
$menu_item_active_background_color: white;
$menu_item_color: white;
$menu_item_active_color: #be1e2d;

$footer_background_color: #efe0c6;