mixin carousel_item(data)
	.item(class = data.active? 'active' : '')
		div.title
			span #{data.title}
		div.image-holder(style='background-image:' + 'url("/assets/images/carousel/'+ data.src +'.jpg")')